{% extends 'partials/base.html.twig' %}

{% block titlebar %}
    <h1><i class="fa fa-fw fa-users"></i> Authors</h1>
{% endblock %}

{% block content %}
    {% include "forms/form.html.twig" %}
    {% do assets.addCss('user://plugins/aura-authors/admin/assets/style.min.css') %}
    {% do assets.addInlineJs('$("<i class=\"fa fa-check\"></i> ").prependTo(\"#authorSave\");') %}
{% endblock %}